[webapi]
# 0.0.0.0 = listen on all interfaces
host = 0.0.0.0
port = 8181

[mongodb]
mongod_host = 127.0.0.1
mongod_port = 27017
database = mnemosyne
mongod_auth = False
mongod_user = user
mongod_password = password
mongod_auth_mechanism = SCRAM-SHA-1

[hpfriends]
ident =
secret =
host = hpfriends.honeycloud.net
port = 20000
channels = amun.events,conpot.events,thug.events,beeswarm.hive,dionaea.capture,thug.files,beeswarn.feeder,cuckoo.analysis,kippo.sessions,cowrie.sessions,glastopf.events,glastopf.files,mwbinary.dionaea.sensorunique,wordpot.events,shockpot.events,p0f.events,suricata.events,elastichoney.events

[file_log]
enabled = True
file = mnemosyne.log

[loggly_log]
enabled = False
token =

[normalizer]
ignore_rfc1918 = True
